.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;
    color: #fff;

    &__container {
        width: 120rem;
        position: absolute;
        top: 30%;
        box-shadow: .2rem 1rem 3.5rem .1rem rgba(153, 153, 153, .3);
        /* padding: 3rem; */
    }

    &__title-box {
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        cursor: pointer;

        & h1 {
            padding: 2rem;
            font-size: 2rem;
        }

        & span {
            margin-right: 2rem;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
    }

    &__content-box {
        color: var(--color-grey-dark-2);
        background-color: var(--color-grey-light-3);
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid red;

        & p {
            font-size: 2rem;
        }
    }
}